<h1>Case Coverages</h1>

<ul>
  <% @case_coverages.each do |case_coverage| %>
    <% unless case_coverage.archived? %>
      <li>
        <p>hey <p/>
<%#       <%= link_to case_coverage.id, case_coverage %> 
      </li>
    <% end %>
  <% end %>
</ul>
