<%#<h3>SatelliteTag Edit View</h3>
<p style="font-size:13px">Find me in app/views/satellite_tags/edit.html.erb</p>%>

<br></br>

<% if params[:case_id] %>
  <% case_id = params[:case_id] %>
<% end %>


<%= render partial: "form", locals: {satellite_taggable_id: params[:satellite_taggable_id], satellite_taggable_type: params[:satellite_taggable_type], satellite_tag: @satellite_tag} %>
