<% unless comment.archived? %>
  <div class="scrollout">
    <div class="scrollbox"  >
      <div style="padding-left: 5px; padding-top: 5px">
        <%#  <p class="lopad"> <%= comment.commenter 'there was an end erb tag here'  </p> %>
        <%= markdown(comment.body) %>
      </div>
    </div>

    <div style="margin-left: 10px">
      <p class="Sfont book" style="margin: 6px 0 4px 0">
        <%= link_to "Edit", edit_comment_path(comment), class: "smlink" %>
        <%= link_to "Remove", [comment.commentable, comment], 
                      data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    }, class: "smlink book" %>
      </p>
    </div>
  </div>
<% end %>
