<%= render 'headerlink' %>
<div class="mainbox">
  <%= render 'articledetails', ticket: @article, type: 'article' %>
</div>

<div class="mainbox">
  <%= render 'tickettags', ticket: @article, type: 'article' %>
</div>

<div class="mainbox">
  <%= render 'articlecomments', ticket: @article, type: 'article'  %>
</div>
