<% unless bug_coverage.archived? %>
  <style>
  div {
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }
  .box {
    overflow: hidden;
    inline-size: min-content;
  }
  </style>
  <div class="box">
    <p>
      <strong>Bug ID:</strong>
      <%= bug_coverage.bug_id %>
    </p>

    <p class="box">
      <strong>Created:</strong>
      <%= bug_coverage.created_at %>
    </p>
  </div>
<% end %>

<p>
<%#  <%= link_to "Remove Comment", [comment.commentable, comment], data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              } %>
</p>
