<div class="boxtag">
  <% provision_tag.attributes.each do |key, value| %>
    <% unless key.downcase.include? 'taggable' %>
      <p>
        <strong><%= key.underscore.humanize.capitalize %>:</strong>
        <%= value %>
      </p>
    <% end %>
  <% end %>
</div>

