<%#<h3>New Case</h3>
<p style="font-size: 13px">Find me in app/views/cases/new.html.erb</p>%>
<br></br>

<div <%# style="background: #f2bb66; border: solid green; width:60%"%>  >
  <%= render partial: "form", locals: {generic: @case} %>
</div>
