body{
  background: #F7CB8C;
  background-color: #f3f3f3;  /* light jade */
  background: #f0f0f0;
  background: #8e99ba;
}
.testsubbox, .testtitlebox, .testbox, .mainformbox {
//https://www.redhat.com/en/about/brand/standards/color
  background-color: #ee0000;  /* red hat red */
  background-color: #f56d6d;
  background-color: #f23636;
  background: #3e498a;
}
.uppermain, .mainbox {
  background-color: #d3fd78;  /* light jade */
  background-color: #6388dd;  /* light jade */
  background-color: #dd8863;  /* light jade */
  background: #4d4d4d;
  background: #11224e;
}
.boxsubheader, .boxheader, .box80, .boxtag, .scrollout, .ticketform, .ticketformtitle, .tickettitle, .scrollbox, .commenttitle, .whiteheadsubtitle, .commenttitle, .whiteheadsubtitle {
  background: #ffffbf;  /* green water */
  background: #fae5eb;  /* water */
  background: #dedede;  /* water */
  background: #e6c845;
}


.whitebox, .boxtag, .scrollbox, .commenttitle, .whiteheadsubtitle {
  background: #ffffff;
}
.commenttitle, .whiteheadsubtitle {
  background: none;
}
