body{
  background: #3feda2;
}
.uppermain, .mainbox {
  background: #34be82;
}
.testsubbox, .testtitlebox, .testbox, .mainformbox {
  background: #2f86a6;
}
.boxsubheader, .boxheader, .box80, .boxtag, .scrollout, .ticketform, .ticketformtitle, .tickettitle, .scrollbox, .commenttitle, .whiteheadsubtitle, .commenttitle, .whiteheadsubtitle {
  background: #f2f013;
}


.whitebox, .scrollbox, .commenttitle, .whiteheadsubtitle, .boxtag, .commenttitle, .whiteheadsubtitle, .whitetitle, .whiteheadtitle {
  background: #ffffff;
}
