<%#<h3>New NetworkTag</h3>
<p style="font-size: 13px">Find me in app/views/satellite_twags/new.html.erb</p>%>
<br></br>
<% if params[:case_id] %>
  <% case_id = params[:case_id] %>
<% end %>
<%= render partial: "form", locals: {network_taggable_id: params[:generic_id], network_taggable_type: params[:taggable_type], network_tag: @network_tag} %>

