<%#= render 'headerlink' %>

<%# <p>At things</p> %>
<%#= @things %>


<%#= link_to "New", "/engineers/new", class: "nolink" %>

<%= render "/engineers/form2", last_name: 'Yoder', first_name: 'Michael' %>


<%#= @things.each do |yo| %>
  <%#= yo %>
  <br>
<%#% end; nil %>
<%# nil %>
