<h1>Solution Coverages</h1>

<ul>
  <% @solution_coverages.each do |solution_coverage| %>
    <% unless solution_coverage.archived? %>
      <li>
        <p>hey <p/>
        <%= link_to solution_coverage.id, solution_coverage %> 
      </li>
    <% end %>
  <% end %>
</ul>
