body{
  background: #f5ee48  /* yellow */ 
}
.uppermain, .mainbox {
  background: #8a9b0f;  /* green */
  background: #9caf10;  /* green */
}
.testsubbox, .testtitlebox, .testbox, .mainformbox {
  background: #f0a143;  /* orange-yellow  */
}
.boxsubheader, .boxheader, .box80, .boxtag, .scrollout, .ticketform, .ticketformtitle, .tickettitle, .scrollbox {
  background: #FAEDC6;  /* beige/cream */
  background: #f9ecdd;  /* beige/cream */
}
