body{
  background: #c5dc7f;
}
.testsubbox, .testtitlebox, .testbox, .mainformbox {
/*https://www.redhat.com/en/about/brand/standards/color*/
  background: #88c848;
}
.uppermain, .mainbox {
  background: #367917;
}
.boxsubheader, .boxheader, .box80, .boxtag, .scrollout, .ticketform, .ticketformtitle, .tickettitle, .scrollbox, .commenttitle, .whiteheadsubtitle, .commenttitle, .whiteheadsubtitle {
  background: #e8e163;
}

.whitebox, .boxtag, .scrollbox, .commenttitle, .whiteheadsubtitle {
  background: #ffffff;
}
.commenttitle, .whiteheadsubtitle {
  background: none;
}

/*
st. patricks blu
#173679;

cyan-blue azure 
#4888c8;

dark sky blue
#7fc5dc;

booger buster
#e8e163;

carrot orange
#db901c;

maastricth blue
#0b1e38;

*/

