body{
  background: #7CD1B8;
}
.testsubbox, .testtitlebox, .testbox, .mainformbox {
  background-color: #9dc209;  /* pistachio green */
}
.uppermain, .mainbox {
  background-color: #d3fd78;  /* light jade */
  background-color: #d3fd98;  /* light jade */
}
.boxsubheader, .boxheader, .box80, .boxtag, .scrollout, .ticketform, .ticketformtitle, .tickettitle, .scrollbox, .commenttitle, .whiteheadsubtitle, .commenttitle, .whiteheadsubtitle {
  background: #ffffbf;  /* green water */
  background: #e8f7f0;  /* water */
}


.whitebox, .boxtag, .scrollbox, .commenttitle, .whiteheadsubtitle {
  background: #ffffff;
}
.commenttitle, .whiteheadsubtitle {
  background: none;
}
