body{
  background: #98b4aa;
  background: #eef2f6;
}
.uppermain, .mainbox {
  background: #74959a;
  background: #ff5959;
}
.testsubbox, .testtitlebox, .testbox, .mainformbox {
  background: #495371;
  background: #676fa3;
}
.boxsubheader, .boxheader, .box80, .boxtag, .scrollout, .ticketform, .ticketformtitle, .tickettitle, .scrollbox, .commenttitle, .whiteheadsubtitle, .commenttitle, .whiteheadsubtitle {
  background: #f1e0ac;
  background: #cddeff;
}


.whitebox, .scrollbox, .commenttitle, .whiteheadsubtitle, .boxtag {
  background: #ffffff;
}

.whiteheadtitle, .whiteheadsubtitle, .whitetitle, .commenttitle{
  background: none;
}
