<div class="testbox">
  <div class="tickettitle">
    <div class="whitetitle">
      <strong><p class="XLfont lopadtop">Comments</p></strong>
      <p class="Sfont book lopadbot">  <%= link_to "New", new_engineer_comment_path(@engineer), class: "nolink" %></p>
    </div>
  </div>
  <%= render engineer.comments %>
</div>
