<div>
  <div class="testbox">
    <div class="tickettitle">
      <strong><p class="XLfont lopadtop">Comments</p></strong>
      <p class="Sfont book lopadbot"> <%= link_to "New", "/#{type}s/#{ticket.id}/comments/new", class: "nolink" %> </p>
    </div>

    <% if ticket.comments.length > 0 %>
      <%= render ticket.comments %>
    <% end %>
  </div>
</div>
