<div class="testsubbox">
  <div class="boxsubheader">
    <h2 class="XXLfont"><%= type.capitalize %>:</h2>
    <strong><title><%= ticket.number %></title></strong>
    <%= render 'ticketeditlink', ticket: ticket, type: type %>
  </div>
</div>
