<% if tickets.length > 0 %>
  <div class="testbox">
    <div class="tickettitle">
      <div class="whitetitle">
        <strong><p class="XXLfont lopad"> <%= ticket.capitalize %>s</p></strong>
      </div>
    </div>

    <div class="box80">
      <div class="whitebox">
        <ol>
          <% tickets.each do |tick| %>
            <% unless tick.archived? %>
              <li>
                <p><strong><%= link_to tick.number, tick, class: "nolink" %></strong> - <%= tick.title %> </p>
              </li>
            <% end %>
          <% end %> 
        </ol>
      </div>
    </div>
  </div>
  <br>
<% end %>
