<div class="testsubbox">
  <div class="boxsubheader">
    <div class="whiteheadsubtitle">
      <p class="lopad XXLfont"><strong><%= type.capitalize %>:</strong>
      <strong><title><%= ticket.number %></title></strong></p>
    <%= render 'ticketeditlink', ticket: ticket, type: type %>
    </div>
  </div>
</div>
