<%#<h3>New Solution</h3>
<p style="font-size: 13px">Find me in app/views/solutions/new.html.erb</p>%>
<br></br>

<div <%# style="background: #f2bb66; border: solid green; width:60%" %> >
  <%= render "form", solution: @solution %>
</div>

